html {
    font-family: sans-serif;
    font-size: 15px;
    background-color: aliceblue;
}

body {
    padding: 0 1rem;
    max-width: 30rem;
    margin: 0 auto;
}

form {
    border: 1px solid #f5f5f5;
    padding: 1rem;
    color: red;
}

img {
    margin: 1rem 0;
}

#text {
    color: rgb(24, 83, 83);
}